body,
button {
  font-family: serif;
  text-align: center;
  background: black;
  color: white;
  fill: white;
}

.timer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
  
.timer > svg {
  width: 100vmin;
  height: 100vmin;
}

.timer > svg > circle {
  fill: none;
  stroke-opacity: 0.1;
  stroke: white;
  stroke-width: 2;
  transform-origin: center center;
  transform: rotate(-90deg);
}

.timer > svg > circle + circle {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-opacity: 1;
  transition: stroke-dashoffset 0.3s ease;
}

.timer > svg > text,
button {
  font-size: 4rem;
}

button {
  position: fixed;
  padding: 50px;
  border: none;
}

a {
  margin-top: 120px;
  position: fixed;
  color: white;
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
  opacity: 0.8;
}